#walrus-showing {
  display: none;
}
#real-hidden {
  display:none;
}
.clickable {
  cursor: pointer;
  color: #0088cc;
}
.img {
  float:left;
  display: inline-block;
}

h3 {
  font-size: 1.4rem;
}
.clickable:hover {
  text-decoration: underline;
}
